@font-face {
    font-family: GilroyReg;
    src: url('../fonts/Gilroy-Regular.ttf') format('truetype');
}

@font-face {
    font-family: GilroyBold;
    src: url('../fonts/Gilroy-Bold.ttf') format('truetype');
}

@font-face {
    font-family: GalienReg;
    src: url('../fonts/Galien-Regular.ttf') format('truetype');
}

@font-face {
    font-family: GalienBold;
    src: url('../fonts/Galien-Bold.ttf') format('truetype');
}