//Variables
$mainColor: #fff;
$blue_1: #1F3F68;
$blue_2: #316099;
$blue_3: #356EAD;
$blue_4: #5A98D0;
$blue_5: #98c3e8;
$blueShadow : #1070b1;
$breakpoint-mb: "(max-width: 528px)";
$breakpoint-tab: "(max-width: 952px)";
$breakpoint-sm: "(min-width: 1080px)";


